@media screen and (min-width: 769px) {
  .md-nav--secondary > .md-nav__title {
    cursor: default;
    user-select: text;
  }

  .md-nav--secondary > .md-nav__list {
    display: block;
  }

  .md-nav--secondary
    > .md-nav__list
    > .md-nav__item
    > .md-nav {
    display: none;
  }

  .md-nav--secondary
    > .md-nav__list
    > .md-nav__item.toc-section-expanded
    > .md-nav {
    display: block;
  }
}
